.toggle-switch {
  margin-left: auto;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000000;
  position: absolute;
  left: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.toggle-switch__text {
  font-size: 14px;
  color: #00000080;
  position: absolute;
  top: 3px;
}

.toggle-switch__text_F {
  right: 38px;
}

.toggle-switch__text_C {
  color: #00000080;
  left: 38px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: #ffffff;
}
